[
        { rabbit, [
                { loopback_users, [ ] },  
                {log, [
                        {console, [{enabled, true},{level, info}]}
                ]},                   
                { tcp_listeners, [5671, 5672] },
                { auth_mechanisms, ['PLAIN', 'AMQPLAIN', 'EXTERNAL']}
        ] },
        {rabbitmq_management,[
                {listener, 
                        [
                                {port, 15672}
                        ]
                },
                {path_prefix, "/rabbitmqmgmt"}                             
        ]}
].
