[
        { rabbit, [
                { loopback_users, [ ] },
                {log, [
                        {console, [{enabled, true},{level, info}]}
                ]},
                { tcp_listeners, [5672] },
                { ssl_listeners, [5671] },
                { auth_mechanisms, ['PLAIN', 'AMQPLAIN', 'EXTERNAL']},
                { ssl_cert_login_from, common_name},
                { ssl_options, [
                    {cacertfile,"/opt/healthcatalyst/testca/cacert.pem"},
                    {certfile,"/opt/healthcatalyst/server/cert.pem"},
                    {keyfile,"/opt/healthcatalyst/server/key.pem"},
                    {verify,verify_peer},
                    {fail_if_no_peer_cert,true}
                ]}
        ] },
        {rabbitmq_management,[
                {listener,
                        [
                                {port, 15672}
                        ]
                }
        ]}
].
