[
        { rabbit, [
                { loopback_users, [ ] },
                { tcp_listeners, [5672] },
                { ssl_listeners, [5671] },
                { auth_mechanisms, ['PLAIN', 'AMQPLAIN', 'EXTERNAL']},
                {auth_backends, [{rabbit_auth_backend_internal,
                                [rabbit_auth_backend_internal, rabbit_auth_backend_ip_range]
                                }]
                },                
                { ssl_cert_login_from, common_name},
                { ssl_options, [
                    {cacertfile,"/opt/healthcatalyst/testca/cacert.pem"},
                    {certfile,"/opt/healthcatalyst/server/cert.pem"},
                    {keyfile,"/opt/healthcatalyst/server/key.pem"},
                    {verify,verify_peer},
                    {fail_if_no_peer_cert,true}
                ]}
        ] },
        {rabbitmq_auth_backend_ip_range, [
                {tag_masks,
                        [
                                {'ip-private', [<<"::FFFF:172.28.5.0/24">>]}
                        ]},
                                {default_masks, [<<"::0/127">>]}
                        ]},        
        {rabbitmq_management,
                [{listener, 
                        [{port, 15672},
                        {ssl, true},
                        {ssl_opts, [
                          {cacertfile,"/opt/healthcatalyst/testca/cacert.pem"},
                          {certfile,"/opt/healthcatalyst/server/cert.pem"},
                          {keyfile,"/opt/healthcatalyst/server/key.pem"},
                          {verify,verify_peer},
                          {fail_if_no_peer_cert,false}
                        ]}
                ]}
        ]}
].
